*{
    margin: 0px;
    color: whitesmoke;
    font-size: 1.2rem;
    text-decoration: none;
    font-family: "Reddit Mono", monospace;
    scroll-behavior: smooth !important;
    
}
body{
    background-color: black;
    overflow-x: hidden;
}
#Home{
    background-image: url(/img/bkg.webp);
    background-size: cover;
    background-repeat: no-repeat;
    height: 95vh;
    padding-bottom: 20rem;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    transition: 0.2s;
}

.nav-bar-bkg{
    transition: 0.2s !important;
    background: rgba(255, 255, 255, 0.06);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(50px);
    border: 1px solid rgba(255, 255, 255, 0.07);
}

header{
    position: sticky;
    top: 1px;
    z-index: 5;
}

header > div > a{
    padding-bottom: 10px;
}

.header-item{
    transition: 0.2s;
    padding: 1.1rem 4%;
    display: inline-block;
}

.hed:hover > :not(:hover) {
    transition: 0.2s;
    transform: scale(1.2);
    filter: blur(2px);
}

.header-item:hover{
    border-bottom: solid whitesmoke 2px;
}

.lumina{
    text-shadow: 0px 0px 7px whitesmoke;
    width: 90%;
    margin: 0 auto;
}

#myname{
    position: relative;
    top: 45%;
    margin-left: 5%;
}
#name{
    font-size: 7rem;
}
h1{
    font-size: 4rem;
}

#spc{
    background-color: aliceblue;
    height: 2px;    
    box-shadow: 0px 0px 10px whitesmoke;
}
#Gallery{
    background-color: rgb(10, 10, 10);
    padding-bottom: 3rem;
}
.Gallery-container{
    width: 98vw;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.img-container{
    background-color: rgb(88, 88, 88);
    height: 320px;
    width: 320px;
    margin-top: 50px;
    background: rgba(255, 255, 255, 0.06);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1.4px);
    -webkit-backdrop-filter: blur(1.4px);
    border: 1px solid rgba(255, 255, 255, 0.07);
    cursor: pointer;
}
.img-fit{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.font-tittle{
    padding: 1.5rem;
    text-align: center;
    font-size: 3rem;
    background: rgba(255, 255, 255, 0.04);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(12.6px);
    -webkit-backdrop-filter: blur(12.6px);
}
.font-lager{
    font-size: 60px;
}
.line{
    background-color: aliceblue;
    height: 2px;
    width: 70vw;
    margin-left: 4rem;
    margin-top: 1rem;
    box-shadow: 0px 0px 10px whitesmoke;
}

.linexl{
    background-color: aliceblue;
    height: 2px;
    width: 90vw;
    margin-left: 4rem;
    margin-top: 1rem;
    box-shadow: 0px 0px 10px whitesmoke;
}
.semi-title{
    margin-top: 2%;
    margin-left: 5%;
}
#Proyects-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

/*----------------------------------- Gallery -------------------------------------*/


.proyect-card:hover{
    scale: 1.06;
    transition: 0.2s;
    box-shadow: 1px 1px 1px 1px whitesmoke;
}

#Gallery-scroll{
    width: 1px;
    height: 1px;
}


  /* ------------------------------  updates  ------------------------- */

#img-update-container img:hover{
    transition: 0.2s;
    scale: 0.9;
    opacity: 0.6;
}
#img-update-container img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
#text-update-container{
    height: 100%;
    width: 100%;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#text-update-container a{
    font-weight: 600;
    color: rgb(128, 172, 253);
    text-shadow: none !important;
}

#update-redirect{
    margin-top: 2rem;
}
#update-redirect button{
    padding: 2rem;
    background-color: rgba(255, 0, 0, 0.603);
    border-radius: 20px;
    border: none;
    font-size: xx-large;
    cursor: pointer;
    box-shadow: 0px 0px 7px rgb(255, 255, 255); /* hacer opacidad parpadear*/
}

#update-redirect button:hover{
    padding: 2rem;
    background-color: rgba(16, 98, 165, 0.753);
    transition: 0.2s;
    border-radius: 40px;
    scale: 0.8;
    border: none;
    font-size: xx-large;
    cursor: pointer;
    box-shadow: 0px 0px 7px rgb(141, 190, 255); /* hacer opacidad parpadear*/
}


  /* ------------------------------  updates END  ------------------------- */


    /* ------------------------------  POPUP      ------------------------- */
.l-b-popup{
    position: absolute;
    left: -8rem;
    top: 37%;
    background-color: transparent;
    border: none;
    font-size: 8rem;
    transform: scaleX(-1);
    color: #aaa;
}
.r-b-popup{
    position: absolute;
    right: -8rem;
    top: 37%;
    background-color: transparent;
    border: none;
    font-size: 8rem;
    color: #aaa;
}
.r-b-popup:hover {
    right: -8.1rem;
    scale: 1.05;
    transition: 0.2s;
    color: whitesmoke;
}

.l-b-popup:hover{
    left: -8.1rem;
    scale: 1.05;
    transition: 0.2s;
    color: whitesmoke;
}

#flex-popup{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#container-img-popup{
    position: relative;
    height: 95vh;
    width: 75vw;
    top: 1rem;
    bottom: 1rem;
    background: rgba(255, 255, 255, 0.06);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1.4px);
    -webkit-backdrop-filter: blur(1.4px);
    border: 1px solid rgba(255, 255, 255, 0.07);
}
#cerrar-popup{
    position: absolute;
    height: 100%;
    width: 100%;
}

.popup {
    display: none;
    position: fixed;
    z-index: 998;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    scrollbar-width: none;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
}

.popup-img {
    display: block;
    z-index: 999;
}

.cerrar {
    scale: 5;
    right: 4rem;
    top: 3rem;
    position: absolute;
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.cerrar:hover,
.cerrar:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}
     /* ------------------------------  POPUP END  ------------------------- */


      /* ------------------------------  front end  ------------------------- */



#Front-end{
    margin-top: 0rem;
}

#Proyects-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.proyect-card{
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin: 1rem;
    height: 20rem;
    width: 23.6rem;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.06);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(50px);
    border: 1px solid rgba(255, 255, 255, 0.07);
}
.proyect-card-img{
    margin-top: 2%;
    margin-bottom: 3%;
    width: 95%;
    height: 60%;
}
.mediumtext{
    font-size: 50px;
}
    /* ------------------------------  front end end xd  ------------------------- */


    /* --------------------------------------- Contact me ------------------------------- */

.centertext{
    margin-top: 1rem;
    text-align: center;
    align-items: center;

}
#contact-container{
    display: grid;
    justify-content: space-between;
    grid-gap: 1vw 1vw;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 1% auto;
    width: 90%;
    grid-template-columns: repeat(auto-fill, minmax(300px, 2fr));

}
.picgit{
    margin-top: -4rem;
    background-image: url(/img/gitprofile.webp);
    background-size: contain;
    position: relative;
    border-radius: 100%;
    height: 250px;
    width: 250px;
}
.lkdpic{
    background-image: url(/img/lkdprofilepic.webp);
    background-size: contain;
    position: relative;
    border-radius: 100%;
    height: 250px;
    width: 250px;
}
.instapic{
    background-image: url(/img/instapic.png);
    background-size: contain;
    position: relative;
    border-radius: 100%;
    height: 250px;
    width: 250px;
}
.gitpic{
    position: relative;
    border-radius: 100%;
    height: 250px;
    width: 250px;
    opacity: 0;
}
.gitpic:hover{
    position: relative;
    border-radius: 100%;
    height: 250px;
    width: 250px;
    opacity: 0.9;
    transition: 0.2s;
}



#cv-button{
    background-color: #044e99;
    border-radius: 30px;
    padding: 5px 15px 5px 15px;
    border: solid 1px #aaa;
    margin-top: 5%;
}
#cv-button:hover{
    transition: 0.2s;
    scale: 1.1;
    box-shadow: 1px 0px 10px #aaa;
    cursor: pointer;
}


svg{
    position: relative;
    right: 90%;
    bottom: 260%;
}
#views{
    position: relative;
    left: 80%;
    bottom: 1250%;
}

#git-text{
    margin-top: -6.8rem;
}

#git-info{
    font-size: 17px;
    margin-bottom: 10px;
}
#webstats{
    margin-top: 1rem;
    margin-bottom: -5rem;
}


#linkd-button{
    padding: 0.5rem 1rem 0.5rem 1rem;
    font-size: 1.4rem;
    font-weight: 900;
    background-color: black;
    border: whitesmoke solid 1px;
    border-radius: 50px;
    cursor: pointer;
    box-sizing: border-box;

}

#linkd-button:hover{
    scale: 1.05;
    transition: 0.2s;
    background-color: #0c0c0c;
    box-shadow: 0px 0px 10px whitesmoke;
    

}
.flexy{
    display: flex;
}
.center{
    position: relative;
    top: 0px;
    font-size: 40px;
    left: 0px;
    margin-left: 30px;
}
 /* --------------------------------------- Contact me  end ------------------------------- */
 

 /*Mis agregados*/

 .contactCard {
    
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
    font-size: 1rem !important;
    padding: 1rem;
    padding-top: 5rem;
    padding-bottom: 5.1rem;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.06);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(50px);
    border: 1px solid rgba(255, 255, 255, 0.07);
 }

/* add for tablet */

 #Gallery-tv {
    display: none;
 }

 #logo-container{
    display: none;
 }

 .hed{
    margin: 0 !important;
    padding: 0 !important;
    display: flex;
    justify-content: center;
    text-align: center;
}
#nav-bar{
    display: flex;
    justify-content: center;
}

.container{
    display: none;
}
.phone{
    display: none;
}

#wesdom{
    display: none !important;
}
#wisdom{
    display: none !important;
}